
@model StopLightManagementWebApp.Models.ViewModels.SiteMeetingVM

@{
    ViewData["Title"] = "Meetings";
}


<h1>Meetings</h1>

<p>
    <a asp-action=""> Add Meeting</a>
</p>

<div>
    <h4> Meetings </h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tier Level
                </th>
                <th>
                    Frequency
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in Model.Meetings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.TierLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.Frequency)
                    </td>
                    @*<td>
                        <a asp-action="OrganizationDetails" asp-route-id="@meeting.ID">OrganizationDetails</a> |
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>